<p id="notice"><%= notice %></p>
<%= link_to 'New Song', new_song_path, class:"btn btn-default" %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song %></td>
        <td><%= link_to song.artist.name, song.artist %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
