<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Artists', artists_path %></li>
        <li><%= link_to 'Songs', songs_path %></li>
    </div>
  </div><!-- /.container-fluid -->
</nav>
